{
    "enphaseUsername": "you@example.com",
    "enphasePassword": "P4ssW0rd123",

    "gatewaySerialNumber":  "012345678912",

    "host": "https://envoy.local",

    "token": "",

    "latitude": 51.46,
    "longitude": -2.60
}