{
    "EnphaseUsername": "you@example.com", 
    "EnphasePassword": "P4ssW0rd123",

    "SiteID": "1234567",
    "GatewaySerialNumber":  "012345678912",

    "Host": "https://envoy.local",

    "Token": "",
	
    "Latitude": 51.46,
    "Longitude": -2.60
}