{
    "enphase_username": "you@example.com",
    "enphase_password": "P4ssW0rd123",

    "gateway_host": "https://envoy.local",
    "gateway_serial_number": "012345678912",
    "gateway_token": "",

    "latitude": 51.46,
    "longitude": -2.60
}